---
layout: layouts/base.njk
templateClass: tmpl-home
---
<div class="bg"></div>
{% include "partials/header.njk" %}

<main class="container {{ templateClass }}">
  {{ content | safe }}
</main>

<footer>
  {% include "partials/footer.njk" %}
</footer>
