<header>
  <div class="hero-body">
    <div class="row container">
      <div class="column">
        <a href="/">
          {% image "logo", "src/img/community_logo.png" %}
        </a>
      </div>
    </div>
  </div>
  <nav class="container">
    <div class="navbar">
      <ul class="main-menu">
        {%- for entry in collections.nav | eleventyNavigation %}
          <li class="nav-item{% if entry.url == page.url %} nav-item-active{% endif %}">
            <a href="{{ entry.url | url }}">{{ entry.title }}</a>
          </li>
        {%- endfor %}
      </ul>
    </div>
    <div class="links">
      <div class="social-links">
        <a href="https://discord.gg/ArX2nafFz2" target="_blank" aria-label="Discord"><i class="fa fa-discord"></i></a>
        <a href="https://github.com/PrismLauncher/PrismLauncher" target="_blank" aria-label="GitHub"><i class="fa fa-github"></i></a>
      </div>
      <div>
        <a class="button" href="/wiki/minecraft-server/">Play Now</a>
        <a class="button type-link" href="https://opencollective.com/prismlauncher" target="_blank">Donate</a>
      </div>
    </div>
  </nav>
</header>
